server:
  port: 8090

spring:
  application:
    name: spring_batch_prac

  profiles:
    active: dev
    include: secret

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:h2:./db_dev;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        use_sql_comments: true
        highlight_sql: true

logging:
  level:
    io.devground.spring_batch_prac: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE

custom:
  site:
    name: onep.shop
    baseUrl: "http://localhost:${server.port}"