<html layout:decorate="~{global/admLayout}">

<head>
    <title>정산 데이터</title>
</head>

<body>

<div layout:fragment="content">
    <h1>정산 데이터</h1>

    <h1>기간 : <span th:text="${yearMonth}"></span></h1>

    <select class="select select-bordered" th:value="${yearMonth}"
            onchange="location.href = '?yearMonth=' + this.value;">
        <option value="2026-01">2026-01</option>
        <option value="2026-02">2026-02</option>
    </select>

    <div class="my-3 pl-8">
        <label class="flex items-center gap-3">
            <input type="checkbox" class="rebateItemCheckboxAll checkbox"/>
            <span>전체 선택</span>
        </label>

        <div class="mt-2">
            <button class="btn btn-primary" onclick="RebateForm__submit();">선택 정산</button>
        </div>

        <form method="POST" name="rebateForm" th:action="@{/adm/rebate/rebateMany}" hidden>
            <input type="hidden" name="redirectUrl" th:value="${@rq.currentUrl}"/>
            <input type="hidden" name="ids"/>
        </form>
    </div>

    <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        <li class="card" th:each="item : ${items}">
            <div class="card-body bg-base-100 shadow">
                <input type="checkbox" class="checkbox rebateItemCheckbox"
                       th:value="${item.id}" onchange="RebateItemCheckbox__changed();"
                       th:if="${@rebateService.canRebate(@rq.member, item)}"/>

                <div class="card-title">
                    번호 : <span th:text="${item.id}"></span>
                </div>

                <div>
                    판매자 : <span th:text="${item.seller.username}"></span>
                </div>

                <div>
                    구매자 : <span th:text="${item.buyer.username}"></span>
                </div>

                <div>
                    결제금액 : <span th:text="${item.orderItem.payPrice}"></span>
                </div>

                <div>
                    정산율 : <span th:text="${item.rebateRate}"></span>
                </div>

                <div>
                    정산예정액 : <span th:text="${item.rebatePrice}"></span>
                </div>

                <div>
                    정산여부 : <span th:text="${item.rebateDate}"></span>
                </div>

                <div class="card-actions justify-end">
                    <a th:if="${@rebateService.canRebate(@rq.member, item)}" method="POST"
                       th:href="|/adm/rebate/${item.id}/rebate?redirectUrl=${@rq.encodeCurrentUrl}|"
                       class="btn btn-primary"
                    >정산</a>
                </div>
            </div>
        </li>
    </ul>

    <script th:inline="javascript">
        // 전체 선택 체크박스
        const $rebateItemCheckboxAll = $('.rebateItemCheckboxAll');
        // 아이템 체크박스
        const $rebateItemCheckbox = $('.rebateItemCheckbox');

        $rebateItemCheckboxAll.change(function () {
            const allChecked = $(this).prop('checked');

            // 아이템 체크박스들에게 체크 상태 동기화
            $rebateItemCheckbox.prop('checked', allChecked);
        });

        function RebateItemCheckbox__changed() {
            const allChecked = $rebateItemCheckbox.length === $('.rebateItemCheckbox:checked').length;

            $rebateItemCheckboxAll.prop('checked', allChecked);
        }

        let RebateForm__submitDone = false;

        function RebateForm__submit() {
            if (RebateForm__submitDone) {
                return;
            }

            const form = document.rebateForm;

            const $checked = $('.rebateItemCheckbox:checked');

            if ($checked.length === 0) {
                toastWarning('정산할 품목을 선택해주세요.');

                return;
            }

            const ids = $checked.map((index, el) => $(el).val()).get();

            form.ids.value = ids;
            form.submit();
            RebateForm__submitDone = true;
        }
    </script>
</div>

</body>

</html>